.zcsdisplayimage{
    width: 128px;
    height:64px;
    font-size:  48px!important;
    font-weight: 500;
    position:relative;
    background-color:#ffffff;
}

.hidden_canvas{
    position: absolute; 
    opacity: 0.0;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
